<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left" class="white">
        <button class="button button-icon button-clear ion-navicon white" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bg-gray-555 white no-padding">
      <div class="item item-menu-header item-avatar item-avatar-menu" href="#">
        <img src="img/profileavatar.png">
        <h2 class="white">Eliezer Rhamzfer</h2>
        <p class="white">eliezerhamzfer@gmail.com</p>
      </div>
    </ion-header-bar>
    <ion-content class="bg-gray-555 white has-header-menu has-footer-menu">
      <div class="list menu-polls">
        <ion-item class="white item item-icon-left item-icon-right bg-transparent no-border" href="#/app/encuestas" menu-close>
          <i class="icon ion-archive icon-2x"></i>
          Votar
          <i class="icon ion-ios-arrow-forward icon-2x"></i>
        </ion-item>
        <ion-item class="white item item-icon-left item-icon-right bg-transparent no-border" href="#/app/respuestas" menu-close>
          <i class="icon ion-pie-graph icon-2x"></i>
          Ultimos votos
          <i class="icon ion-ios-arrow-forward icon-2x"></i>
        </ion-item>
        <ion-item class="white item item-icon-left bg-transparent no-border" href="#" ng-click="login()">
          <i class="icon ion-log-out icon-2x"></i>
          Logout
        </ion-item>
      </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bg-gray-555 bar-footer-menu white no-padding">
      <div class="item item-menu-footer item-avatar item-avatar-menu item-icon-left item-icon-right center" href="#">
        <img class="item-avatar-square" src="img/checkicon.png">
        <h2>1 encuestas</h2>
        <p class="white"><i class="fa fa-eur"></i> 249,95</p>
      </div>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
