<ion-view view-title="Ultimos Votos">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  	<ion-content class="has-header">
  		<div class="list">
  			<a 
          ng-repeat="r in respuestas"
          class="item" 
        >
  				<b>{{r.encuesta}}</b>: {{r.option}}
  			</a>
  		</div>
  	</ion-content>
</ion-view>