<ion-view view-title="Resultados">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  	<ion-content class="has-header" padding="10">
  		<h2 class="title">{{encuesta.name}}</h2>
      <div class="list">
        <div class="card">
          <a class="item" ng-repeat="o in encuesta.options" ng-model="data.choice" ng-value="o.id">
            {{o.name}}
            <span class="badge badge-assertive">{{o.votes}}</span>
          </a>
        </div>
  		</div>
  	</ion-content>
</ion-view>